# Prisma
/query-engine*
/engines/
/.prisma/
/query-engine-*
/*.query-engine-*

# Generated Prisma Client
/client/
/generated/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.staging
.env.production

# Build outputs
/dist
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts